@import '../../styles/pitagoras.scss';

.date-select, .time-select {
    .select-wrapper {
        margin-right: 10px;
        display: inline-block;

        label {
            display: block;
        }

        select {
            height: 30px;

            &:disabled {
                color: $disabled-text-color;
            }
        }
    }
}
