@import '~src/styles/pitagoras.scss';

.users-content {
    .users-list {
        padding: 0;
        margin: auto;
        list-style: none;

        li {
            height: 30px;
            padding: 0 10px;

            .name {
                vertical-align: middle;
                line-height: 30px;
            }

            .buttons-wrapper {
                height: 100%;
                display: inline-block;
                vertical-align: middle;
                line-height: 30px;
                float: right;

                button {
                    height: auto;
                    width: auto;
                    display: inline-block;
                    padding: 1px 10px;
                    margin-left: 10px;
                    line-height: normal;
                    font-size: 12px;
                }
            }

            &:nth-child(odd) {
                background-color: $frost;
            }

            &:nth-child(even) {
                background-color: #F8F8F8;
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------
// Desktop
// -----------------------------------------------------------------------------------------------

@media only screen and (min-width: 801px) {
    .users-content {
        .users-list {
            width: 700px;
            margin-top: 30px;
        }
    }
}

// -----------------------------------------------------------------------------------------------
// Mobile
// -----------------------------------------------------------------------------------------------

@media only screen and (max-width: 800px) {
    .users-content {
        .users-list {
            width: 100%;
            margin-top: 20px;
        }
    }
}
