@import '~src/styles/pitagoras.scss';

.usuario-edit {
    form {
        width: 800px;
        padding: 20px 10px;
        margin: 0 auto;
        margin-top: 30px;
        border: 1px solid $frost;
        border-radius: 3px;

        .input-wrapper {
            width: 50%;
            display: inline-block;
            padding: 10px;
            box-sizing: border-box;

            label {
                width: 100%;
                font-weight: bold;
                font-size: 14px;
            }

            input {
                height: 30px;
                width: 100%;

                &.invalid {
                    border-color: $red;
                }
            }
        }

        button {
            &:disabled {
                color: $disabled-text-color;
            }
        }
    }
}
