@import '~src/styles/pitagoras.scss';

html {
    height: 100%;
}

body {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: $gun-metal;
}

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, input:-moz-placeholder {
    letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h2 {
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: $denim;
}

h4 {
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1.5px;
    font-weight: bold;
    color: $denim;
}

#pitagoras-wrapper, #pitagoras {
    height: 100%;
    overflow: hidden;
}

input[type='text'], input[type='password'], textarea {
    border: 1px solid $frost;

    &:disabled {
        color: $disabled-text-color;
        background-color: $disabled-input-background;
        border: 1px solid $disabled-input-border;
    }
}

input[type='radio'] + label {
    margin-left: 5px;
}

.side-button {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 13px;
    background-color: transparent;
    color: $taupe;
    cursor: pointer;

    &.right {
        float: right;
    }

    &:hover {
        background-color: transparent;
    }
}

button {
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-bottom: 0;
    background-color: $denim;
    border: none;
    border-radius: 3px;
    letter-spacing: 1px;
    color: white;

    &:hover {
        background-color: $nightfall;
    }

    &.add, &.remove {
        height: auto;
        width: auto;
        background-color: transparent;
        text-transform: uppercase;
        color: $blue-gray;

        &:hover {
            color: $denim;
        }
    }

    &.add {
        font-size: 13px;
    }

    &.remove {
        font-size: 11px;
    }

    &.submit {
        padding: 0 80px;
        margin-top: 50px;

        &:disabled {
            background-color: $disabled-button-background;
        }
    }
}

.bold {
    font-weight: bold;
}

.feedback-text {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;

    &.success {
        color: $pine;
    }

    &.error {
        color: $invalid;
    }
}
