@import '~src/styles/pitagoras.scss';

// -----------------------------------------------------------------------------------------------
// Common
// -----------------------------------------------------------------------------------------------

#pitagoras {
    header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background-color: $denim;

        .links-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            margin: 0;
            text-align: center;

            a, .signout-option {
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                font-size: 13px;
                color: white;

                &.active {
                    background-color: $nightfall;
                    font-weight: bold;
                }
            }
        }

        .signout-menu-wrapper {
            height: 100%;
            width: 80px;
            position: absolute;
            top: 0;
            right: 0;
            border-left: 1px solid $blue-gray;
            cursor: pointer;
        }
    }

    main {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 30px;
        overflow: hidden;
        overflow-y: auto;
        background-color: white;
    }
}

// -----------------------------------------------------------------------------------------------
// Desktop
// -----------------------------------------------------------------------------------------------

@media only screen and (min-width: 801px) {
    #pitagoras {
        header {
            height: $header-height;

            .links-wrapper {
                height: 100%;
                right: 80px;

                a {
                    width: 25%;
                    display: inline-block;
                    line-height: $header-height;

                    &:hover {
                        background-color: rgba($nightfall, 0.5);
                    }
                }

                .signout-option {
                    display: none;
                }

                &.admin {
                    a {
                        width: 20%;
                    }
                }
            }

            .signout-menu-wrapper {
                .signout-wrapper {
                    height: 100%;
                    width: 100%;

                    img {
                        height: 70%;
                        width: 35px;
                        position: relative;
                        top: 12px;
                        display: block;
                        margin: 0 auto;
                    }

                    &:hover {
                        background-color: rgba($nightfall, 0.5);
                    }
                }

                button {
                    display: none;
                }
            }
        }

        main {
            top: $header-height;
        }
    }
}

// -----------------------------------------------------------------------------------------------
// Mobile
// -----------------------------------------------------------------------------------------------

@media only screen and (max-width: 800px) {
    #pitagoras {
        header {
            height: $header-height-mobile;

            .links-wrapper {
                top: $header-height-mobile;
                right: 0;
                z-index: 1;
                background-color: $denim;
                border-top: 1px solid $blue-gray;

                a, .signout-option {
                    width: 100%;
                    display: block;
                    line-height: $header-height-mobile;
                }

                &.hidden {
                    display: none;
                }
            }

            .signout-menu-wrapper {
                .signout-wrapper {
                    display: none;
                }

                button {
                    height: 100%;
                    width: 100%;
                    display: block;
                }
            }
        }

        main {
            top: $header-height-mobile;
        }
    }
}
