@import '~src/styles/pitagoras.scss';

// -----------------------------------------------------------------------------------------------
// Common
// -----------------------------------------------------------------------------------------------

#pitagoras {
    header {
        height: 80px;
        position: absolute;
        top: 0; right: 0; left: 0;
        background-color: $denim;

        div.links-wrapper {
            height: 100%;
            position: absolute;
            top: 0; right: 80px; left: 0;
            padding: 0;
            margin: 0;
            text-align: center;

            a {
                width: 33.3%;
                display: inline-block;
                line-height: 80px;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 13px;
                color: white;
                cursor: pointer;

                &:hover {
                    background-color: rgba($nightfall, 0.5);
                }

                &.active {
                    background-color: $nightfall;
                    font-weight: bold;
                }

                &.admin {
                    width: 20%;
                }
            }
        }

        div.signout {
            height: 100%;
            width: 80px;
            position: absolute;
            top: 0;
            right: 0;
            border-left: 1px solid $blue-gray;
            cursor: pointer;

            img {
                height: 80%;
                width: 60px;
                top: 12px; left: 10px;
                position: relative;
            }

            &:hover {
                background-color: rgba($nightfall, 0.5);
            }
        }
    }

    main {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 30px;
        overflow: hidden;
        overflow-y: auto;
        background-color: white;
    }
}
