@import '~src/styles/pitagoras.scss';

// -----------------------------------------------------------------------------------------------
// Common
// -----------------------------------------------------------------------------------------------

#pitagoras > main {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
}
