// -----------------------------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------------------------

$gun-metal: #3E3E3B;
$creosote: #2E323C;
$nightfall: #3C455C;
$denim: #4C586F;
$french-blue: #A2AAB0;
$lead: #9AACB8;
$cashmere: #CBC5C1;
$frost: #DDE2E3;
$white-wash: #EBECED;

$invalid: #E25F70;

$disabled-input-background: #F2F2F2;
$disabled-input-border: #B9BBBB;
$disabled-button-background: #999999;
$disabled-button-color: #DDDDDD;

// -----------------------------------------------------------------------------------------------
// Bootstrap Variables and Mixins
// -----------------------------------------------------------------------------------------------

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
