// -----------------------------------------------------------------------------------------------
// Custom Variables
// -----------------------------------------------------------------------------------------------

$header-height: 60px;
$header-height-mobile: 50px;

// -----------------------------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------------------------

$gun-metal: #3E3E3B;
$creosote: #2E323C;
$nightfall: #3C455C;
$denim: #4C586F;
$blue-gray: #8593AE;
$french-blue: #A2AAB0;
$lead: #9AACB8;
$frost: #DDE2E3;
$white-wash: #EBECED;

$taupe: #73605B;
$cashmere: #CBC5C1;

$malbec: #351F39;
$jacaranda: #726A95;

$pine: #5B7065;
$fog: #C9D1C8;

$red: #E05858;

$disabled-text-color: #CCC;
$disabled-input-background: #F2F2F2;
$disabled-input-border: #B9BBBB;
$disabled-button-background: #999;

// -----------------------------------------------------------------------------------------------
// Bootstrap Variables and Mixins
// -----------------------------------------------------------------------------------------------

@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
