@import '~src/styles/pitagoras.scss';

.reportes-table-wrapper {
    overflow-x: auto;
    margin-top: 20px;

    table {
        width: 100%;
        display: block;

        tr {
            th {
                background-color: $pine;
                border: 1px solid $creosote;
                text-align: center;
                padding: 10px 0;
                color: white;
            }

            td {
                padding: 10px 5px;
                border: 1px solid $creosote;

                &.centered {
                    text-align: center;
                }
            }

            &:nth-child(odd) {
                background-color: rgba($fog, 0.3);
            }

            &.content-row {
                &:hover {
                    background-color: $fog;
                }
            }
        }
    }
}
