@import '~src/styles/pitagoras.scss';

.reportes-content {
    .side-button {
        float: none !important;
    }

    button.top-right {
        height: auto;
        padding: 2px 10px;
        position: absolute;
        top: 30px; right: 20px;
        font-size: 13px;
        z-index: 10;
    }

    .reportes-table {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-x: auto;

        .table-header-wrapper {
            position: relative;
            z-index: 2;
            border-bottom: 1px solid $creosote;
            overflow-y: scroll;
            overflow-x: hidden;

            table {
                th {
                    position: relative;
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: 1.8px;
                    cursor: pointer;
                    border-right: 1px solid $creosote;
                    background-color: rgba($pine, 0.8);
                    color: white;
                    user-select: none;
                    text-align: center;
                }
            }
        }

        .table-body-wrapper {
            position: absolute;
            z-index: 1;
            top: 50px - 1; // 1px "hidden" top border
            left: 0;
            right: 0;
            bottom: 0;
            overflow-y: scroll;
            overflow-x: hidden;
            background-color: white;

            table {
                border-top: 1px solid $creosote;
                border-bottom: 1px solid $creosote;

                .fake-header {
                    display: none;
                }

                tr {
                    cursor: pointer;

                    &:nth-child(even) {
                        background-color: rgba($fog, 0.3);
                    }
                }
            }
        }

        table {
            width: 100%;
            table-layout: fixed;

            thead tr {
                height: 49px; // Since 1px bottom border is drawn by parent div
            }

            tr {
                height: 50px;
                line-height: 1;

                td {
                    font-size: 15px;
                    border-right: 1px solid $creosote;
                }

                th, td {
                    padding: 0 15px;

                    > span {
                        line-height: 18px;
                    }
                }

                &.content-row {
                    &:hover {
                        background-color: $fog;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
