@import '~src/styles/pitagoras.scss';

.inicio {
    .error {
        text-align: center;
        font-size: 20px;
        color: $red;
    }

    .notificaciones {
        .no-notificaciones {
            padding: 40px 0;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $denim;
        }

        .notifications-wrapper {
            width: 600px;
            margin: 0 auto;

            h4 {
                text-transform: uppercase;
                text-align: left;
                letter-spacing: 1.5px;
                font-weight: bold;
                color: $denim;
            }
        }

        .notificaciones-list {
            width: 100%;
            padding: 0;
            list-style: none;
            border: 1px solid $frost;
            border-radius: 3px;

            .notificaciones-list-item {
                padding: 20px;
                border-bottom: 1px solid $frost;

                &:last-child {
                    border-bottom: none;
                }

                a {
                    display: inline-block;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: 0.5px;
                    font-weight: bold;
                    color: $denim;

                    &:hover {
                        color: $nightfall;
                    }
                }

                p {
                    margin: 0;
                }
            }
        }
    }
}
