@import '~src/styles/pitagoras.scss';

.add-contrato {
    padding: 20px;
    overflow-y: auto !important;

    form {
        width: 500px;
        padding: 40px 100px;
        margin: 0 auto;
        border: 1px solid black;

        input {
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }

        button {
            margin-top: 20px;
        }
    }
}
