@import '~src/styles/pitagoras.scss';

.contratos-table-wrapper {
    table {
        width: 100%;

        tr {
            th {
                background-color: rgba(#106EB9, 0.4);
                border: 1px solid black;
                text-align: center;
                padding: 10px 0;
            }

            td {
                border: 1px solid black;
                padding: 10px 5px;
            }

            &:nth-child(even) {
                background-color: #F3F3F3;
            }

            &.content-row {
                &:hover {
                    background-color: yellow;
                    cursor: pointer;
                }
            }
        }
    }
}
