@import '~src/styles/pitagoras.scss';

.contrato-form {
    form {
        width: 800px;
        padding: 20px 10px;
        margin: 0 auto;
        border: 1px solid $frost;
        border-radius: 3px;

        h4 {
            padding: 0 10px;
        }

        .date-select, .input-wrapper {
            display: inline-block;
            vertical-align: top;
            padding: 10px;
            box-sizing: border-box;
        }

        .date-select {
            width: 66.6%;
        }

        .input-wrapper {
            width: 33.3%;

            &.full-width {
                width: 100%;
            }

            label {
                width: 100%;
                font-weight: bold;
                font-size: 14px;
            }

            input {
                height: 30px;
                width: 100%;

                &.invalid {
                    border-color: $red;
                }
            }

            input[type='radio'] {
                height: auto;
                width: auto;

                + label {
                    width: auto;
                    font-weight: normal;
                }
            }
        }

        hr {
            margin: 10px -10px;
            margin-bottom: 20px;
            border: none;
            border-bottom: 1px solid $frost;
        }

        button {
            &.add {
                margin: 20px 10px;
            }

            &.remove-input {
                margin-top: 5px;
                padding: 3px 10px;
            }

            &:disabled {
                color: $disabled-text-color;
            }
        }
    }
}
