@import '~src/styles/pitagoras.scss';

.contrato {
    p {
        text-transform: uppercase;
        color: blue;

        &.go-back {
            cursor: pointer;
        }
    }

    .contrato-detalles {
        width: 100%;
        position: relative;
        display: block;
        padding: 20px;
        margin-bottom: 40px;
        border: 1px solid $frost;
        font-size: 15px;

        .contrato-detalles-column {
            width: 50%;
            display: inline-block;
            vertical-align: top;
            margin: 0;
        }

        .detalle-wrapper {
            margin-bottom: 5px;
            line-height: normal;

            &:last-child {
                margin: 0;
            }

            .value {
                margin-left: 10px;
                color: gray;
            }
        }

        button {
            height: auto;
            padding: 5px 15px;
            position: absolute;
            top: 20px; right: 20px;
            font-size: 13px;
        }
    }

    .acciones-wrapper {
        width: 100%;
        position: relative;

        .acciones-list {
            width: 220px;
            position: absolute;
            top: 0; left: 0;
            display: inline-block;
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                cursor: pointer;

                &:hover {
                    color: blue;
                }

                &.selected {
                    font-weight: bold;
                    color: blue;
                }
            }
        }

        .accion-forma-historial {
            position: absolute
            right: 0; left: 300px;

            .accion-form {
                width: 100%;
                position: relative;

                textarea {
                    width: 100%;
                    display: block;
                    margin-top: 20px;
                }

                button {
                    margin: 20px 0;

                    &:disabled {
                        background-color: $disabled-button-background;
                        color: $disabled-text-color;
                    }
                }
            }
        }
    }
}
