@import '~src/styles/pitagoras.scss';

.contratos-table-wrapper {
    table {
        width: 100%;

        tr {
            th {
                padding: 10px 0;
                background-color: rgba($malbec, 0.8);
                border: 1px solid $creosote;
                text-align: center;
                color: white;
                cursor: pointer;
            }

            td {
                padding: 10px 5px;
                border: 1px solid $creosote;
            }

            &:nth-child(odd) {
                background-color: rgba($jacaranda, 0.2);
            }

            &.content-row {
                &:hover {
                    background-color: rgba($jacaranda, 0.4);
                    cursor: pointer;
                }
            }
        }
    }
}
