@import '~src/styles/pitagoras.scss';
@import '~src/components/acciones/accion-form.scss';

.contrato {
    h4 {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        color: $denim;
    }

    span.go-back {
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 13px;
        color: $taupe;
        cursor: pointer;

        &.right {
            float: right;
        }
    }

    button.top-right {
        height: auto;
        padding: 2px 10px;
        position: absolute;
        top: 20px; right: 20px;
        font-size: 13px;
        z-index: 10;
    }

    .contrato-detalles {
        width: 100%;
        position: relative;
        display: block;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 40px;
        border: 1px solid $frost;
        font-size: 15px;

        .contrato-detalles-column {
            width: 33%;
            display: inline-block;
            vertical-align: top;
            margin: 0;
        }

        .detalle-wrapper {
            margin-bottom: 5px;
            line-height: normal;

            &:last-child {
                margin: 0;
            }

            .title {
                font-weight: bold;
            }

            .value {
                margin-left: 5px;
            }
        }
    }

    .acciones-wrapper {
        width: 100%;
        position: relative;

        .acciones-list {
            width: 220px;
            position: absolute;
            top: 0; left: 0;
            display: inline-block;
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                padding: 0px 5px;
                cursor: pointer;

                &:hover {
                    background-color: rgba($denim, 0.8);
                    color: white;
                }

                &.selected {
                    background-color: $denim;
                    color: white;
                }
            }
        }

        .accion-forma-historial {
            position: absolute;
            right: 0; left: 300px;
        }
    }
}
