@import '~src/styles/pitagoras.scss';

.contrato-form {
    form {
        width: 800px;
        padding: 20px 10px;
        margin: 0 auto;
        border: 1px solid $frost;

        .section-title {
            padding: 0 10px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: bold;
            font-size: 18px;
            color: $denim;
        }

        .date-select, .input-wrapper {
            display: inline-block;
            vertical-align: top;
            padding: 10px;
            box-sizing: border-box;
        }

        .date-select {
            width: 66.6%;
        }

        .input-wrapper {
            width: 33.3%;

            &.full-width {
                width: 100%;
            }

            input {
                height: 30px;
                width: 100%;

                &.invalid {
                    border-color: $invalid;
                }
            }

            input[type='radio'] {
                height: auto;
                width: auto;
            }
        }

        hr {
            margin: 10px -10px;
            margin-bottom: 20px;
            border: none;
            border-bottom: 1px solid $frost;
        }

        button {
            &.add {
                padding: 0;
                margin: 20px 10px;
            }

            &.remove {
                line-height: 40px;
            }

            &.remove-input {
                line-height: normal;
                padding-bottom: 0;
            }

            &.submit {
                padding: 0 80px;
                margin-top: 50px;

                &:disabled {
                    background-color: $disabled-button-background;
                }
            }

            &:disabled {
                color: $disabled-text-color;
            }
        }
    }
}
