@import '~src/styles/pitagoras.scss';

.change-password {
    p.initial-message {
        margin: 20px 0;
        text-align: center;
    }

    form {
        width: 500px;
        padding: 20px 100px;
        margin: 0 auto;
        border: 1px solid $frost;
        text-align: center;

        .input-wrapper {
            margin-bottom: 20px;

            input {
                height: 30px;
                width: 100%;

                &.invalid {
                    border-color: $invalid;
                }
            }
        }

        p.message {
            font-size: 13px;
            margin: 0;

            &.error {
                color: $invalid;
            }
        }
    }
}
