@import '~src/styles/pitagoras.scss';

.signin-wrapper {
    height: 100%;
    width: 100%;

    .logo {
        width: 300px;
        height: 100px;
        position: absolute;
        top: 20px; left: 20px;
    }

    form {
        width: 400px;
        padding: 40px;
        margin: 0 auto;
        margin-top: 80px;
        background-color: $frost;
        border: 1px solid $creosote;
        border-radius: 3px;
        text-align: center;

        label {
            margin-bottom: 5px;
        }

        input {
            height: 35px;
            width: 100%;
            display: block;
            padding: 0 10px;
            margin-bottom: 20px;
            border: 1px solid $creosote;
            border-radius: 3px;
            outline: none;

            &.required {
                border-color: $red;
            }
        }

        button {
            padding: 10px 40px;
            margin-top: 20px;
            text-transform: uppercase;

            &:disabled {
                background-color: $disabled-button-background;
                color: $disabled-text-color;
            }
        }

        p.error-text {
            font-size: 13px;
            margin: 0;
            color: $red;

            &.hidden {
                visibility: hidden;
            }
        }
    }
}
